body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.page {
    display: none;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background: #FDD;
    background-image: url("img/test.jpg");
    background-size: contain 100px;
    background-repeat: no-repeat;
    background-position: center top;
    border: 15px solid orange;
    box-sizing: border-box;
}

.page:first-child {
    background-color: #DFD;
    display: block;
    opacity: 1;
}

.pageLoader {
    width: 100vw;
    height: 100vh;
    background-image: url("img/test.jpg");
    background-size: contain 100px;
    background-repeat: no-repeat;
    background-position: center;
    border: 15px solid red;
    box-sizing: border-box;
}

.pageSide {
    width: 100vw;
    height: 100vh;
    background-image: url("img/test.jpg");
    background-size: contain 100px;
    background-repeat: no-repeat;
    background-position: center top;
    border: 15px solid yellow;
    box-sizing: border-box;
}
