body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.page {
    position: relative;
    display: block;
    /* opacity: 1; */
    width: 100vw;
    height: 100vh;
    background: #FDD;
    background-size: contain 100px;
    background-repeat: no-repeat;
    background-position: center top;
    border: 15px solid orange;
    box-sizing: border-box;
}

.pageBtn {
    position: absolute;
    height: 50px;
    width: 50px;
}

.hidden {
    display: none;
}
