body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.PageSystem_container {
}

.page {
    top: 0;
    left: 0;
    display: block;
    position: relative;
    width: 100vw;
    height: 2000px;
    background: #FDD;
    background-size: contain 100px;
    background-repeat: no-repeat;
    background-position: center 30%;
    box-sizing: border-box;
}

.pageLink {
    position: absolute;
    display: block;
    cursor: pointer;
    margin: auto;
    transition: 0.2s;
}

.pageLink:hover {
    color: darkcyan;
    filter: brightness(1.15);
}

.pageLinkImg {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.Player {
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0.1;
    transition: 0.2s;
}

.Player:hover {
    opacity: 1;
}

.Player::-webkit-media-controls-panel {
    width: 300px;
}

.Player input {
    background: red;
}

.Player::-webkit-media-controls-timeline-container,
.Player::-webkit-media-controls-current-time-display,
.Player::-webkit-media-controls-time-remaining-display,
.Player::-webkit-media-controls-seek-back-button,
.Player::-webkit-media-controls-seek-forward-button,
.Player::-webkit-media-controls-fullscreen-button,
.Player::-webkit-media-controls-rewind-button,
.Player::-webkit-media-controls-return-to-realtime-button,
.Player::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}
